Repository NicolasGraf/sourcespls: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

.gitlab-ci.yml:

default:
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build-frontend
  - build-backend
  - deploy

build-frontend:
  only:
    changes:
      - frontend/**/*
  stage: build-frontend
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    LATEST_TAG: $CI_REGISTRY_IMAGE/frontend:latest
  script:
    - docker build -t $IMAGE_TAG ./frontend/
    - docker tag $IMAGE_TAG $LATEST_TAG
    - docker push $IMAGE_TAG
    - docker push $LATEST_TAG

build-backend:
  only:
    changes:
      - backend/**/*
  stage: build-backend
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    LATEST_TAG: $CI_REGISTRY_IMAGE/backend:latest
  script:
    - docker build -t $IMAGE_TAG ./backend/
    - docker tag $IMAGE_TAG $LATEST_TAG
    - docker push $IMAGE_TAG
    - docker push $LATEST_TAG

#deploy_tf:
#  stage: deploy
#  only:
#    changes:
#      - backend/**/*
#      - frontend/**/*
#  trigger:
#    nckgrf/terraform-iac

dot in dockerfile
  .gitignore
  frontend/Dockerfile
Due: build-frontend

adjust be image
  backend/Dockerfile
  backend/package.json
Due: build-backend

slight adjustments
  frontend/src/components/AddSourceButton.js
  frontend/src/components/LinkCreator.js
  frontend/src/pages/MainPage.js
Due: build-frontend

add supabase; first attempt at google login and production url
  backend/Dockerfile
  backend/util/AuthMiddleware.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/RequireAuth.js
  frontend/src/components/SocialLogin.js
  frontend/src/lib/apiController.js
  frontend/src/lib/authProvider.js
  frontend/src/lib/supaBaseClient.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/RedirectPage.js
Due: build-frontend, build-backend

improve module setup and add tf deploy to cicd
  .gitlab-ci.yml
  .idea/modules.xml
  frontend/frontend.iml
Due: build-frontend

build just by guessing, doesnt work for arm
  backend/Dockerfile
Due: build-backend

trial and error
  backend/Dockerfile
Due: build-backend

add chrome exec path
  backend/Dockerfile
  backend/util/BrowserManager.js
Due: build-backend

add chrome exec path
  backend/Dockerfile
Due: build-backend

bit of optimizing the source input
  backend/util/BrowserManager.js
  frontend/src/components/AddSourceButton.js
  frontend/src/components/SourceEditor.js
  frontend/src/components/SourceQuote.js
  frontend/src/components/SourcesInput.js
Due: build-frontend, build-backend

prettier social login
  frontend/src/components/ResultLink.js
  frontend/src/components/SocialLogin.js
  frontend/src/lib/theme.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/MainPage.js
Due: build-frontend

addded login/logout buttons, small improvements
  backend/routes/arguments.js
  frontend/src/App.js
  frontend/src/components/Header.js
  frontend/src/components/HeaderLogin.js
  frontend/src/components/SocialLogin.js
  frontend/src/components/SourceQuote.js
  frontend/src/lib/authProvider.js
  frontend/src/lib/theme.js
  frontend/src/pages/DashboardPage.js
Due: build-frontend, build-backend

backend dockerfile fix
  backend/Dockerfile
Due: build-backend

introduced controller in backend, added argument list to dashboard
  backend/package-lock.json
  backend/package.json
  backend/routes/arguments.js
  backend/routes/controller/argumentsController.js
  backend/util/AuthMiddleware.js
  backend/util/SupabaseManager.js
  frontend/src/components/ArgumentItem.js
  frontend/src/components/PersonalArgumentList.js
  frontend/src/components/SourceQuote.js
  frontend/src/lib/apiController.js
  frontend/src/lib/authProvider.js
  frontend/src/pages/DashboardPage.js
  frontend/src/pages/MainPage.js
Due: build-frontend, build-backend

add editing argument title
  backend/routes/arguments.js
  backend/routes/controller/argumentsController.js
  frontend/src/components/ArgumentEditArea.js
  frontend/src/components/ArgumentItem.js
  frontend/src/pages/DashboardPage.js
Due: build-frontend, build-backend

Large refactoring, mainly adding mainpage context
  backend/routes/controller/argumentsController.js
  frontend/src/App.js
  frontend/src/components/ArgumentEditArea.js
  frontend/src/components/ArgumentItem.js
  frontend/src/components/ArgumentLink.js
  frontend/src/components/LinkCreator.js
  frontend/src/components/MainArgumentEditor.js
  frontend/src/components/MainSourceEditor.js
  frontend/src/components/PersonalArgumentList.js
  frontend/src/components/PreviewSources.js
  frontend/src/components/Seperator.js
  frontend/src/components/SourceEditor.js
  frontend/src/components/SourceEditorForm.js
  frontend/src/components/SourcesInput.js
  frontend/src/components/common/AppFooter.js
  frontend/src/components/common/Header.js
  frontend/src/components/common/HeaderLink.js
  frontend/src/components/common/HeaderLogin.js
  frontend/src/components/common/SeparatorResponsive.js
  frontend/src/components/home/AddSourceButton.js
  frontend/src/lib/mainPageContext.js
  frontend/src/pages/DashboardPage.js
  frontend/src/pages/MainPage.js
Due: build-frontend, build-backend

restructure components
  frontend/src/App.js
  frontend/src/components/arguments/ArgumentError.js
  frontend/src/components/arguments/LoadingArgument.js
  frontend/src/components/common/RequireAuth.js
  frontend/src/components/common/Seperator.js
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/ArgumentItem.js
  frontend/src/components/dashboard/ArgumentLink.js
  frontend/src/components/dashboard/PersonalArgumentList.js
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/components/home/MainSourceEditor.js
  frontend/src/components/home/ResultLink.js
  frontend/src/components/home/TitleInput.js
  frontend/src/components/login/SocialLogin.js
  frontend/src/components/sources/PreviewSources.js
  frontend/src/components/sources/SourceContainer.js
  frontend/src/components/sources/SourceEditorForm.js
  frontend/src/components/sources/SourceQuote.js
  frontend/src/pages/ArgumentPage.js
  frontend/src/pages/DashboardPage.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/MainPage.js
Due: build-frontend

refactor errorhandling
  backend/app.js
  backend/routes/arguments.js
  backend/routes/controller/argumentsController.js
  backend/routes/controller/sourcesController.js
  backend/routes/sources.js
  backend/util/ErrorHandler.js
  frontend/src/components/dashboard/ArgumentItem.js
  frontend/src/components/dashboard/PersonalArgumentList.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/lib/apiController.js
  frontend/src/pages/ArgumentPage.js
  frontend/src/pages/DashboardPage.js
  frontend/src/pages/MainPage.js
Due: build-frontend, build-backend

deleting of sources and arguments
  backend/routes/arguments.js
  backend/routes/controller/argumentsController.js
  backend/routes/controller/sourcesController.js
  backend/routes/sources.js
  backend/util/AuthMiddleware.js
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/ArgumentItem.js
  frontend/src/components/dashboard/PersonalArgumentList.js
  frontend/src/components/sources/PreviewSources.js
  frontend/src/components/sources/SourceContainer.js
  frontend/src/components/sources/SourceImage.js
  frontend/src/lib/apiController.js
  frontend/src/pages/ArgumentPage.js
  frontend/src/pages/DashboardPage.js
Due: build-frontend, build-backend

split up argument item more
  backend/routes/controller/argumentsController.js
  backend/util/AuthMiddleware.js
  frontend/src/App.js
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/ArgumentItem.js
  frontend/src/components/dashboard/ArgumentItemControls.js
  frontend/src/components/dashboard/ArgumentItemHeader.js
  frontend/src/components/dashboard/ArgumentLink.js
  frontend/src/components/dashboard/PersonalArgumentList.js
  frontend/src/components/sources/PreviewSources.js
  frontend/src/components/sources/SourceEditorForm.js
  frontend/src/components/sources/SourceImage.js
  frontend/src/lib/dashboardPageContext.js
  frontend/src/lib/theme.js
  frontend/src/pages/DashboardPage.js
Due: build-frontend, build-backend

add relative redirect url
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/ArgumentItemControls.js
  frontend/src/components/login/SocialLogin.js
Due: build-frontend

add nginx conf for frontend container
  frontend/Dockerfile
  frontend/default.conf
  frontend/package.json
  frontend/public/index.html
Due: build-frontend

updated nginx conf
  frontend/default.conf
Due: build-frontend

trial and error nginx conf
  frontend/default.conf
  frontend/package.json
Due: build-frontend

trial and error
  frontend/default.conf
Due: build-frontend

try out default config again...
  frontend/Dockerfile
Due: build-frontend

last try for tonight
  frontend/Dockerfile
  frontend/default.conf
Due: build-frontend

Added about page
  frontend/src/App.js
  frontend/src/components/common/AppFooter.js
  frontend/src/components/common/Header.js
  frontend/src/components/common/HeaderLogin.js
  frontend/src/index.css
  frontend/src/lib/apiController.js
  frontend/src/lib/dashboardPageContext.js
  frontend/src/lib/theme.js
  frontend/src/pages/AboutPage.js
Due: build-frontend

Added toastprovider
  frontend/src/App.js
  frontend/src/components/common/AppToast.js
  frontend/src/components/common/ToastContainer.js
  frontend/src/components/common/ToastPortal.js
  frontend/src/components/home/MainSourceEditor.js
  frontend/src/components/home/ResultLink.js
  frontend/src/components/sources/SourceContainer.js
  frontend/src/components/sources/SourceEditorForm.js
  frontend/src/components/sources/SourceQuote.js
  frontend/src/index.css
  frontend/src/lib/theme.js
  frontend/src/lib/toastProvider.js
  frontend/src/pages/AboutPage.js
Due: build-frontend

better toast styling
  frontend/src/components/common/ToastContainer.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/index.css
  frontend/src/lib/theme.js
  frontend/src/lib/toastProvider.js
Due: build-frontend

better inputs with paste button
  frontend/src/components/sources/InputPasteButton.js
  frontend/src/components/sources/SourceEditorForm.js
  frontend/src/components/sources/SourceFormTextarea.js
  frontend/src/components/sources/SourceFormUrlInput.js
  frontend/src/index.css
  frontend/src/lib/theme.js
Due: build-frontend

reworked first api call to hook
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/sources/InputPasteButton.js
  frontend/src/components/sources/SourceFormTextarea.js
  frontend/src/components/sources/SourceFormUrlInput.js
  frontend/src/lib/apiHooks.js
  frontend/src/lib/mainPageContext.js
  frontend/src/pages/MainPage.js
Due: build-frontend

replaced one more hook and made quotes prettier
  frontend/src/components/dashboard/ArgumentItem.js
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/sources/SourceContainer.js
  frontend/src/components/sources/SourceImage.js
  frontend/src/components/sources/SourcePageImages.js
  frontend/src/components/sources/SourceQuote.js
  frontend/src/index.css
  frontend/src/lib/apiController.js
  frontend/src/lib/apiHooks.js
  frontend/src/pages/ArgumentPage.js
Due: build-frontend

renamed dashboard to admin, added subroute
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/common/Header.js
  frontend/src/components/common/HeaderLink.js
  frontend/src/components/common/RequireAuth.js
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/ArgumentItemControls.js
  frontend/src/components/dashboard/ArgumentItemHeader.js
  frontend/src/components/dashboard/ArgumentLink.js
  frontend/src/lib/theme.js
  frontend/src/pages/AdminPage.js
  frontend/src/pages/DashboardPage.js
  frontend/src/pages/admin/SavedArgsPage.js
Due: build-frontend

replaced api controller with apihooks
  backend/routes/controller/sourcesController.js
  frontend/src/components/common/Header.js
  frontend/src/components/common/ToastContainer.js
  frontend/src/components/dashboard/ArgumentEditArea.js
  frontend/src/components/dashboard/PersonalArgumentList.js
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/components/home/MainSourceEditor.js
  frontend/src/components/sources/PreviewSources.js
  frontend/src/components/sources/SourceEditorForm.js
  frontend/src/index.js
  frontend/src/lib/apiController.js
  frontend/src/lib/apiHooks.js
  frontend/src/lib/dashboardPageContext.js
  frontend/src/pages/ArgumentPage.js
  frontend/src/pages/MainPage.js
  frontend/src/pages/admin/SavedArgsPage.js
Due: build-frontend, build-backend

renamed dashboard to admin
  frontend/src/App.js
  frontend/src/components/admin/ArgumentEditArea.js
  frontend/src/components/admin/ArgumentItem.js
  frontend/src/components/admin/ArgumentItemControls.js
  frontend/src/components/admin/ArgumentItemHeader.js
  frontend/src/components/admin/ArgumentLink.js
  frontend/src/components/admin/PersonalArgumentList.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/components/home/MainSourceEditor.js
  frontend/src/components/home/StartAddingSources.js
  frontend/src/components/login/SocialLogin.js
  frontend/src/lib/AdminContext.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/admin/SavedArgsPage.js
Due: build-frontend

rened mainpage to homepage
  frontend/src/App.js
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/components/home/MainSourceEditor.js
  frontend/src/lib/HomePageContext.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/admin/SavedArgsPage.js
Due: build-frontend

improved creation flow
  backend/routes/arguments.js
  backend/routes/controller/argumentsController.js
  frontend/src/components/home/HomeArgumentEditor.js
  frontend/src/components/home/HomeSourceEditor.js
  frontend/src/components/home/LinkCreator.js
  frontend/src/components/home/MainArgumentEditor.js
  frontend/src/lib/HomePageContext.js
  frontend/src/lib/apiHooks.js
  frontend/src/pages/HomePage.js
Due: build-frontend, build-backend

returning deleted item to filter in frontend
  backend/routes/controller/sourcesController.js
  backend/routes/sources.js
  frontend/src/components/sources/PreviewSources.js
Due: build-frontend, build-backend
